# Environment Variables
NODE_ENV="development"
NEXT_PUBLIC_BASE_URL_DEV="http://localhost:3000"
NEXT_PUBLIC_BASE_URL_PROD="https://template-nextjs-sage.vercel.app"

# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=<your_sanity_project_id>
NEXT_PUBLIC_SANITY_DATASET=<your_sanity_dataset>
NEXT_PUBLIC_SANITY_API_VERSION="v2025-03-04"
SANITY_API_READ_TOKEN=<your_sanity_api_read_token>
SANITY_WEBHOOK_SECRET=<your_sanity_webhook_secret>

# Resend
RESEND_API_KEY=<your_resend_api_key>

# HubSpot
NEXT_PUBLIC_HUBSPOT_CHATBOT_ID=<your_hubspot_chatbot_id>

# Maintenance Mode
NEXT_PUBLIC_IS_MAINTENANCE_MODE=false

# Analytics
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=<your_google_analytics_id>
NEXT_PUBLIC_META_PIXEL_ID=<your_meta_pixel_id>
NEXT_PUBLIC_MICROSOFT_CLARITY_ID=<your_microsoft_clarity_id>

# Contact Form
NEXT_PUBLIC_CONTACT_FORM_RECIPIENT_EMAIL=<your_contact_form_recipient_email>
NEXT_PUBLIC_CONTACT_FORM_SENDER_EMAIL="onboarding@resend.dev"

# Google maps
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=<your_google_maps_api_key>
